<tr class="fields">
    <td id="blog_image_<%= dom_id(f.object) %>">
        <% unless f.object.new_record? %>
            <%= image_tag f.object.attachment.url(:mini) %>
        <% end %>
    </td>
    <td>
        <%= f.file_field :attachment %>
    </td>
    <td>
        <%= link_to_remove_fields t("remove"), f %>
    </td>
</tr>
